body { background: #63e4c3; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 34px; display: flex; }
.block-search-0 { color: #658d63; font-size: 21px; margin-bottom: 5px; }
.block-token-1 { color: #dab67; font-size: 14px; margin-bottom: 5px; }
.block-router-2 { color: #6671be; font-size: 20px; margin-bottom: 5px; }
.block-database-3 { color: #4dd645; font-size: 17px; margin-bottom: 5px; }
.block-filter-4 { color: #a87636; font-size: 19px; margin-bottom: 5px; }
.block-shipping-5 { color: #737fe2; font-size: 18px; margin-bottom: 5px; }